@model BundleAndBootstrapMVC5.Models.MenuItem

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ComplexMenuItem</title>
</head>
<body>
    <div>
        BigID = @Model.BigID
    </div>
    <div>
        ID = @Model.ID
    </div>
</body>
</html>
