
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MenuItem</title>
</head>
<body>
    <div> 
        @Model
    </div>
    
    <div>BigID: @ViewData["BigID"]</div>
    <div>BigID from Session object: @Session["BigID"]</div>
</body>
</html>
